body{
   padding: 0px;
   margin: 0px;
}

.container-fluid{
   border:0px solid black;
   height:90px;
 /* background-color: rgb(174, 104, 11); */
   width: 100%; 

}
#unique{
   margin-left: 0%;
      background-color: #111324; 
       width: 100%;  
}
.row{

   border: 0px solid red;
   height: 90px;
   margin:auto;
   display: flex;
   /* background-color: #111324; */
   width: 100%;

}
#sign{
   background-color: blue;
   color: white;
}
#forhead{
background-color: aquamarine;
}
#log{
color: yellow;
}
.col{
   border: 0px solid green;
   height: 90px;
   width:10px;
   display: flex;
   list-style-type: none;
   gap:5px;
   text-align: center;
   color: white;
   justify-content: space-evenly;
}
#one{
   display: flex;
padding-right: 30px;
justify-content: start;
background-color: #111324; 

}
#one img{
   width: 40px;
}
#two{
 padding-top: 30px;
 gap: 30px;
  
}
#three{
   padding-top: 30px;
  justify-content: end;
  gap: 25px;
}

#three>button{
   width: 120px;
   height: 40px;
   background-color:skyblue;
   border-radius: 5px;
}
#con3{
   height: 500px;
   background-color: white;
   border: 0px solid black;
   display: flex;
}
.five{
   height: 500px;
   border: 0px solid red;
   width: 720px;

}
.five img{
   padding-top: -250px;
   width: 87%;

}
.five h1{
  padding-top: 60px;
  padding-left: 30px;
  text-align: left;
  font-size: 50px;
}
.five p{
   padding-top: 40px;
  padding-right: 10px;
  padding-left: 30px;
  text-align: left;
}
.five button{
   margin-top: 30px;
   width: 47%;
   height: 70px;
   border-radius: 5px;
   border: 1px solid #7856ff;
  
}
.five >p+button{
justify-content: space-around;
background-color: aqua;
width: 47%; 
height: 70px;
background-color: #7856ff;
color: white;
}

#seven{
   border: none;
   padding-top: 30px;
   height: 320px;
margin-top :40px;
   background-color: rgb(241, 246, 246);
}
#seven p{
   padding-top: 30px;
   text-align: center;
   font-size: 25px;
}
.seven{
   
   list-style-type: none;
   display: flex;
  gap:50px;
  justify-content: center;
   margin: auto;
   width: 70%;

}
div h1{
   text-align: center;
   padding-top: 40px;
}
.row{
  border: 0px solid red;
   height: 550px;
  
}
#ten{
   padding-top: 30px;
   display:flex;
   background-color: none;
}
 #nine{
 background-color: beige;
}
#ten{
   background-color:white ;
   justify-content: space-around;
   margin-top: 30px;
}
#eleven{
   padding-left: 30px;
   text-align: left;
}
#eleven h5{
   text-align: left;
}
#tweel img{
   height: 80%;
   width: 100%;
 padding-left: 120px;
 
 box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#thirteen img {
width: 100%;
height: 100%;

box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#fourteen{
   margin: auto;
}

#sixteen {
   background-color: white;
   border: 1px solid red;
   height:30px;
   width:100%
}
h5{
   margin-top: 550px;
   text-align: center;
}
#btn1{
   margin: auto;
   width: 200px;
   background-color: #7856FF;
   margin-left: 500px;
   height: 60px;
   color: white;
   border: none;
   border-radius: 5px;
   margin-top: 30px;
}
#abc{
   border: 0px solid blue;
   display: flex;
   margin-top: 30px;
   gap:100px
}
#bcd{
   border: 0px solid red;
   background-color:skyblue;
   width: 700px;
}
#bcd img {
width: 100%;
height: 90%;
}
#cde{
   border: 0px solid red; 
   width: 600px;
   
}
#cde h3{
   text-align: left;
padding-top: 130px;
}
/* #cde p{
 
} */
#cde button{
   background-color: #7856ff;
   width: 200px;
  color: white;
   height: 50px;
   border: none;
   border-radius: 5px;
}
#efg{
   margin-top: 80px;
   border: 0px solid blue;
  background-color: white;
   height: 500px;
   display: flex;
}
#efg .row{
   border: 0px solid green;
   height: 440px;
}
#fgh{
   width:550px;

}
#fgh img{
   width:100%;
 height: 400px;
}
#ghi{
   width: 950px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
#ghi img {
   width:100%
}
#hij{
   width: 950px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#hij img {
   width:100%
   
}
#ijk h1{
text-align: left;
}
#ijk {
 margin-left: 80px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#btn2{
  border: 1px solid blue;
   width: 40%;
   color: blue;
text-align: center; 
}
#btn2:hover{
   background-color: blue;
   color: white;
}
#jkl{
  margin: auto;
   border: 0px solid red;
   display: flex;
   background: white;
   height: 400px;
   margin-top: 50px;
}
#klm img{
   margin: auto;
 width: 100%;
 height: 400px;
}

#nop{
   margin-top: 40px;
   border: 0px solid pink;
   display: flex;
   background-color: white;
   height: 500px;
}
#opq{
   height: 300px;
   width: 500px;
   border: 0px solid rgb(33, 33, 28);
}
#btn3:hover{
   background-color: blue;
   color: white;
}

#opq h1{
text-align: left;
}
#opq button{
   color: blue;
   width: 200px;
   height: 60px;
   border: 1px solid blue;
}

#pqr{
   height: 480px;
   width: 600px;
   border: 0px solid rgb(33, 33, 28);
}
#pqr img{
   width: 100%;
   
}
#qrs{
  
   margin-top: 30px;
   background-color: white;
   border:0px solid purple;
}
#rst img {
   width: 100%;
}
#stu{
   width: 100%;
   margin-top: 40px;
   background-color: white;
   border: 0px solid orangered;
   height: 400px;
   background-color:rgb(19, 100, 132);
}
#stu h1{
  color: white;
  padding-top: 100px;
}
#stu p{
   text-align: center;
   color: white;
   padding-top: 30px;
}
#btn4{
margin: auto;
margin-left: 0px;
margin-top: 30px;
height: 50px;
width: 200px;
background-color: white;
color: blue;
border: none;
}
#btn4:hover{
   background-color:rgb(19, 100, 132);
   color: white;
}
#uvw{
   border: 0px solid orangered;
   height: 400px;
}
.container-fluid {
   position: relative;
   text-align: center;

 }
 #image{
   height: 310px;
 width: 100%;
margin-top: 30px;
background-color:gray;
margin: auto;
margin-top: 30px;
 }

 #image2{
  
   padding-top: 50px;
 }
 .bottom-left {
   position: absolute;
   bottom: 15px;
  left:35px;
   top:165px;

 }
 #but5{
   color: blue;
   border: 1px solid blue;
 }
 #but5:hover{
 background-color: gray;
 color: white;
 border: black;

 }
 
 .top-left {
   position: absolute;
   top: 12px;
   left: 16px;
   text-align: left;
 }
  .centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 /* footer */
#tuv{
   background-color:  #111324;
   height: 300px;
   display: flex;
justify-content: space-around;
  gap: 50px;
  color: #F6F6F7;
}
#cam{
   width:10px;
   background-color: yellow;
  
}
#tuv+div{
   margin-right: 30px;
}
#tuv div{
   border: 0px solid black;
width:120px;
height: 250px;
margin-top: 30px;
padding-top: 20px;
margin-right: 30px;
}
#sap{
   text-align: right;
}
#img6{
   width: 100%;
}
#uvw{
   border: 0px solid green;
   justify-content: end;
   background-color: #111324;
   width: 100%;
   display: flex;

}
#uvw div {
   border: 0px solid orangered;
   width: 50%;
  
   height: 385px;
}
#btn5{
   width: 250px;
   height: 70px;
   margin-top: 30px;
   background-color: blue;
   color: white;
   font-weight: bold;
   border-radius: 5px;
   margin-left: 90px;
   border: none;
}
#btn5:hover{
   background-color: #7856ff;
   color: pink;
}
#uvw div{
   border: 0px solid green;
   width: 700px;
}

#last div{
border: 0px solid black;
width: 600px;
height: 50px;
color: white;
}
#end img {
   width: 100%;
   height: 50px;
   margin-left: -330px;
}
#before{
   margin-left: -200px;
   font-size: small;
}
#imglast  {
   margin-right: 130px;
  
}
#imglast img{
width: 10%;
height: 50%;
}